# EECS 731 - Project 5 (Forecasting)
### Author: Jace Kline

## Objective
Given a dataset associating products and their demands over time, we shall use data cleaning, feature engineering, and model selection for predicting the demand of any particular product in the dataset.

In [140]:
import os
import sys
sys.path.append('../src/')
from preprocess import transform

# General imports
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

## Loading the Initial Data
First, we shall load the initial dataset from the CSV file. As we can see, there are over a million rows.

In [141]:
df = pd.read_csv('../data/initial/product_demand.csv')
df

         Product_Code Warehouse Product_Category       Date Order_Demand
0        Product_0993    Whse_J     Category_028  2012/7/27         100
1        Product_0979    Whse_J     Category_028  2012/1/19         500
2        Product_0979    Whse_J     Category_028   2012/2/3         500
3        Product_0979    Whse_J     Category_028   2012/2/9         500
4        Product_0979    Whse_J     Category_028   2012/3/2         500
...               ...       ...              ...        ...          ...
1048570  Product_1791    Whse_J     Category_006  2016/4/27        1000
1048571  Product_1974    Whse_J     Category_006  2016/4/27           1
1048572  Product_1787    Whse_J     Category_006  2016/4/28        2500
1048573  Product_0901    Whse_J     Category_023  2016/10/7          50
1048574  Product_0704    Whse_J     Category_001  2016/6/27           4

[1048575 rows x 5 columns]

## Initial Preprocessing
To clean up the dataset, we shall do the following:
1. Map each 'Product_Code', 'Product_Category', and 'Warehouse' feature to an integer type
    * This will drastically decrease the space and time overhead of querying these features
2. Convert the 'Date' feature into a Pandas DateTime object, usable as a sequencing feature in our models

To save time when re-running this notebook, we utilize script that achieves these preprocessing tasks and outputs them to a new dataset file. See [this file](../src/preprocess.py) for the source code.

Below, we show the relevant source code for transforming the original dataset.
```python
def prod_code(row):
    c = str(row['Product_Code'])
    # Parse
    m = re.search('Product_([0-9]+)', c)
    n = m.group(1)
    return int(n) if n is not None else np.nan

def prod_category(row):
    c = str(row['Product_Category'])
    # Parse
    m = re.search('Category_([0-9]+)', c)
    n = m.group(1)
    return int(n) if n is not None else np.nan

def prod_warehouse(row):
    c = str(row['Warehouse'])
    # Parse
    m = re.search('Whse_([A-Z]+)', c)
    n = m.group(1)
    return (ord(n) - 65) if n is not None else np.nan

def transform():
    df = pd.read_csv('../data/initial/product_demand.csv')
    df['Product_Code'] = df.apply(prod_code, axis=1).astype(np.short)
    df['Product_Category'] = df.apply(prod_category, axis=1).astype(np.short)
    df['Warehouse'] = df.apply(prod_warehouse, axis=1).astype(np.short)
    df['Date'] = pd.to_datetime(df['Date'])
    df.to_csv('../data/intermediate/data.csv')
```

Note: We must run the transform() function in this script if the transformed data hasn't been generated yet. See below.

In [142]:
if not(os.path.exists('../data/intermediate/data.csv')):
    transform()

## Loading the Preprocessed Data
Since the dataset we are working with contains over a million rows, we have already generated the preprocessed data from our sctipt above and will simply load in the transformed data.

In [143]:
df = pd.read_csv('../data/intermediate/data.csv')

### Converting the 'Date' column to DateTime object
For Pandas to be able to utilize the 'Date' field in our dataset, we shall first convert the 'Data' column entries from strings into DateTime objects.

In [144]:
df['Date'] = pd.to_datetime(df['Date'])
df

,Unnamed: 0,Product_Code,Warehouse,Product_Category,Date,Order_Demand
0,0,993,9,28,2012-07-27,100
1,1,979,9,28,2012-01-19,500
2,2,979,9,28,2012-02-03,500
3,3,979,9,28,2012-02-09,500
4,4,979,9,28,2012-03-02,500
...,...,...,...,...,...,...
1048570,1048570,1791,9,6,2016-04-27,1000
1048571,1048571,1974,9,6,2016-04-27,1
1048572,1048572,1787,9,6,2016-04-28,2500
1048573,1048573,901,9,23,2016-10-07,50
1048574,1048574,704,9,1,2016-06-27,4

## Data Exploration
We shall start exploration by answering the following questions:
1. How many different products (and how many times does each appear)?
2. How many warehouses (and how many times does each appear)?
3. How many categories (and how many times does each appear)?
4. Which products should we use in our forecasting?
   * We should aim to use the products with the highest product count

In [145]:
def unique_counts_sorted(colname):
    df_tmp = pd.DataFrame(np.transpose(np.unique(df[colname], return_counts=True)), columns=[colname, 'Count'])
    df_tmp = df_tmp.sort_values(['Count', colname], ascending=[False, True])
    return df_tmp

### Top Product Counts
We shall use these top 3 products in our forecasting because they contain the most number of sample data points to use for training and testing.

In [146]:
tmp = unique_counts_sorted('Product_Code').head(3)

# Store the desired product codes to use for our models
codes = list(tmp['Product_Code'])

tmp

      Product_Code  Count
1348          1359  16936
1284          1295  10575
1367          1378   9770

### Top Category Counts
We see that almost half of the rows fall into product category 19.

In [147]:
unique_counts_sorted('Product_Category').head(3)

    Product_Category   Count
18                19  481099
4                  5  101671
0                  1   97787

### Top Warehouse Counts
We see that roughly 75% of the entries come from warehouse 9.

In [148]:
unique_counts_sorted('Warehouse').head(3)

   Warehouse   Count
2          9  764447
0          0  153574
3         18   88200